@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);

body {
    font-family: 'Space Mono', monospace;
    background-color: #3A5D26;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: image-set("/img/_29fe255f-1313-4ec2-b82f-d358236a3825.jpg");
    text-shadow: #fff;
}

.container {
    max-width: 90%;
    margin: 15% auto 5%;
    padding: 2rem;
    background-color: rgba(75, 79, 73, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-shadow: 3px 3px 2px gray;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="date"],
input[type="text"],
input[type="number"],
button {
    width: calc(100% - 10px); 
    margin-bottom: 10px;
    padding: 5px;
    background-color: #A1C780;
    border-radius: 5px;
}

button {
    background-color: #325038;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #316D1C;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 2px solid #D95261;
    font-weight: 600;
}



@media (min-width: 768px) {
    .container {
    max-width: 650px;
    margin-left: 40rem;
    margin-top: 15rem;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 3rem; 
    background-color: rgb(75, 79, 73, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
    
}

input[type="date"],
input[type="text"],
input[type="number"],
button {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #A1C780;
    border-radius: 1rem;
}

button {
    background-color: #325038;
    color: #fff;
    cursor: pointer;
    border:  da solid 2px;
    border-radius: 0.8rem;

}

button:hover {
    background-color: #316D1C;
}

.expense-form {
    padding: 3rem;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #D95261;
    font-weight: 600;
}

.expense-item span {
    flex: 1;
}

.expense-item button {
    margin-left: 10px;
    padding: 5px 10px;
    width: 4rem;
}

}